

/* ABOUT US */

@media (max-width: 991px) {
    .loycy__about__bg {
        background-color: var(--loycy-primary);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}


/* hiring */
@media only screen and ( max-width: 750px ) {
    .tab-now-now {
        display: flex !important;
        overflow-x: auto !important;
    }
}