


.each-fade > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}


.each-fade h1 {
  color: #fff;
}