


.each-fade > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}


.each-fade h1 {
  color: #fff;
}


.loycy__menu li:nth-child(4):hover .loycy__dropdown__menu {
  display: block;
  position: absolute;
  top: 1.8rem;
  right: 20rem;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 10px;
  margin-top: 30px;
  border-radius: 5px;
  z-index: 2;
}


.loycy__dropdown__menu {
  display: none;
}

.loycy__dropdown__menu li {
  display: block;
  padding: 4px 0;
}


/* TABS */
.loycy__dropdown__menu button {
  background-color: #F8F8F8;
  border: none;
  color: black;
  cursor: pointer;
  width: 100%;
  transition: all 0.5s ease-out;
  margin: 5px 0px;
  font-size: 16px;
}

.loycy__dropdown__menu button:hover {
  color: #001A3D;
  background-color: #F8F8F8;
}

.loycy__dropdown__menu button:disabled {
  background: #1B5AB2;
  color: white;
}

.submenu__button {
  background: rgba(243, 190, 34, 0.1);
  margin-right: 5px;
  padding: 4px;
}

.loycy__dropdown__menu button:disabled .submenu__button {
  background-color: white;
  opacity: 100%;
}

