


.petro__banner__bg {
    background-image: url("../img/slider/1.png");
}

.petro__banner__2__bg {
    background-image: url("../img/slider/2.png");
}

.country__banner__bg {
    background-image: url("../img/Countries.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.footer__banner__bg {
    background: linear-gradient(0deg, rgba(27, 90, 178, 0.2), rgba(27, 90, 178, 0.2)), #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.accor-text {
    color: white !important;
    font-weight: 500;
    font-size: 20px;
}

.accor-text:hover {
    columns: white !important;
}

.petro-company ul a {
    line-height: 24px !important;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
}






.loycy-shadow {
    box-shadow: 0px 4px 4px rgba(142, 142, 142, 0.06);
}

.loycy-bg {
    background-color: var(--loycy-light);
}

.loycy-btn {
    background-color: var(--loycy-primary);
}

.loycy-btn:hover {
    background-color: var(--loycy-secondary-bg);
}

.loycy-span {
    text-align: justify;
}




/* LOYCY ABOUT SESSION */

.loycy__about__bg {
    background-image: url("../img/about-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about__value {
    border-bottom: 1px solid #F6B700;
    border-bottom-width: 1px;
}

.about__value p {
    border-right: 1px solid #F6B700;
    padding: 0px 30px 20px 30px;
}

.about__value p:nth-child(3) {
    border-right: none;
}


.about__ p {
    border-right: 1px solid #F6B700;
    padding: 20px 30px 0px 30px;
}

.about__ p:nth-child(3) {
    border-right: none;
}




/* LOYCY OUR SERVICE SESSION */

.loycy__service__bg {
    background-image: url("../img/our-service-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loycy__card {
    background-image: url("../img/card-bg-1.png");
    /* background-color: #1B5AB2; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}


.loycy__card__arrow {
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
}

.loycy__card:hover {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}

 .loycy__card__arrow:hover {
    margin-right: -50px;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}



/* NEWS PREV NEXT BUTTON */

.loycy-prev {
    background-image: url("../img/prev-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.loycy-next {
    background-image: url("../img/next-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}


.hire-bg {
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hire-bg:hover {
    background-image: url("../img/hire-hover.png");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: fill;
    opacity: 0.85;
}



/* ABOUT US PAGE */

.our-goal-bg {
    background-image: url("../img/all/about-us/our-goals-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cta__bg {
    background-image: url("../img/all/about-us/cta.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.about__banner__bg {
    background-image: url("../img/all/about-us/about__banner__bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.engineering__banner__bg {
    background-image: url("../img/all/engineering/engineering-hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.investment__banner__bg {
    background-image: url("../img/all/investment/investment__banner__bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.engineering__bg {
    background-image: url("../img/all/engineering/engineering-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.hiring__bg {
    background-image: url("../img/all/hire/hire_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner__content h2, 
.banner__content p {
    color: rgba(50, 50, 50, 0.85);
}

.banner__hire__content h2,
.banner__hire__content p {
    color: white !important;
}

@media (max-width: 991px) {
    .hiring__bg {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/all/hire/hire_bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .about__banner__bg {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/all/about-us/about__banner__bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .engineering__banner__bg {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/all/engineering/engineering-hero-bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .investment__banner__bg {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/all/investment/investment__banner__bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner__content h2,
    .banner__content p {
        color: white;
    }
}



/* ABOUT US PAGE SUBSCRIPTION FORM */

.loycy__form__input input, textarea {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid black;
}

.loycy__form__input input:focus {
    outline: none;
}

.loycy__form__input div {
    padding: 10px 0;
}

.loycy__form__input select {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid black;
}

.loycy__form__input select:focus {
    outline: none;
}


.loycy__form__input textarea {
    padding: 8px 12px;
}


.accord__tab {
    margin: 1rem 0;
}


.engineer__card {
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    justify-items: center;
}


.home__button {
    background-color: white;
}

.home__button:hover {
    background-color: var(--loycy-secondary-bg);
    color: white;
}


/* HIRING TAB */

.tab-now-now div:nth-child(1) {
    color: #000 !important;
    padding: 10px 10px !important;
    opacity: 75;
    font-size: 18px !important;
    font-family: var(--petro-medium);
    font-weight: 500;
  }
  
  
  .tab-now-now div:nth-child(2) {
    background-color: #FDB900 !important;
  }
  
  
  /* PAGINATION */
  .petro__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }
  
  .petro__pagination a {
    padding: 10px;
    margin: 8px;
    border-bottom: 2px solid #FDB900;
    color: #313131;
    background-color: #F5F5F5;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
  }
  
  .petro__pagination a:hover {
    color: black;
    background-color: #F5F5F5;
    border-bottom: 2px solid #FDB900;
  }
  
  .petro__pagination .active a {
    color: #FDB900;
    background: rgba(253, 185, 0, 0.05); 
  }
  
  .paginationDisabled a {
    color: #1B5AB2;
    background-color: white;
  
  }

  .equipment__card:hover img {
        border: 1px solid #FDB900;
  }

  .equipment__card p {
    background-color: #fff;
    box-shadow:  0px 12px 40px rgba(142, 142, 142, 0.24);
  }

  .equipment__card:hover p {
    background-color: #FDB900;
    color: #000;
  }


  .contact__form__bg {
    background-image: url("../img/form-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }